.wp-admin.rtl.toplevel_page_bo_woo_order_map, .wp-admin.rtl.settings_page_bo_woo_order_map {

  .menu-top.toplevel_page_bo_woo_order_map {
    a.toplevel_page_bo_woo_order_map {
      font-family: "Vazir", serif !important;;
    }
  }

  .csf.csf-options.bo_woo_order_map {
    font-family: "Vazir", serif !important;
  }

  #wpcontent {
    font-family: "Vazir", serif !important;

    h1, h4, .csf-nav.csf-nav-options a, input.button, label {
      font-family: "Vazir", serif !important;
    }
  }

  .csf-header-left {

    h1 {
      font-weight: bold;

      img {
        padding-left: 15px !important;
        padding-bottom: 5px;
      }
    }
  }
}
